#menu {
  background-color: #ebe8e4;
  height: 45px;
  width: 49%;
  border-bottom: 5px solid #b30000;
  min-width: 500px;
}

#menu ul {
  list-style-type: none;
  padding: 0;
  background-color: #ebe8e4;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  text-align: center;
  padding: 14px 25px 14px 25px;
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}

#menu li:hover {
  background-color: #b30000;
}

#menu a:hover {
  color: white;
}

#menu2 {
  background-color: #ebe8e4;
  height: 451px;
  width: 17%;
  border-right: 5px solid #b30000;
  max-width: 85px;
}

#menu2 li {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}

#menu2 ul {
  list-style-type: none;
  padding: 0;
  background-color: #ebe8e4;
}

#menu2 li {
  float: left;
  width: 85px;
}

#menu2 li a {
  display: block;
  text-align: center;
  padding: 14px 15px 14px 15px;
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}

#menu2 li:hover {
  background-color: #b30000;
}

#menu2 a:hover {
  color: white;
}
