body {
  margin: 10 0 0 0;
  height: auto;
}

h1 {
  color: #008489;
}

p strong {
  color: #ff2300;
}

.destacado {
  color: #ffa500;
}

#subtitulo {
  color: #0200ff;
}

a {
  color: #ff2300;
}

a em {
  color: #0200ff;
}

#adicional p a {
  color: #008400;
}

.especial {
  color: #840084;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td,
tr {
  height: 25px;
}

tbody th {
  width: 85px;
}

tbody td {
  color: #008400;
  text-align: center;
}

caption {
  color: #0200ff;
  padding-bottom: 4px;
}

table .especial {
  color: #ffa500;
}

tbody strong {
  color: #ffa500;
}

tfoot {
  color: #ff2300;
}

tbody th {
  color: #ff2300;
}

#adicional p {
  color: #948400;
}

#adicional #especial {
  color: #ff00ff;
}

td:nth-child(2) {
  width: 135px;
  text-align: justify;
  padding-left: 4px;
}

td:nth-child(3) {
  width: 122px;
  text-align: justify;
  padding-left: 7px;
}
